html, body{
	height: 100%;
	overflow: hidden;
}

#left-side-login {
	background-color: black;
	background-image: url("../images/loginbackground.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.form-id-field {
	margin-bottom: 3px;
}


#form-login-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: linear-gradient(to bottom right, #fc2557, #ad1489);
}

.form-login {
	width: 330px;
	padding: 40px;
	background-color: rgba(190,190,190,0.3);
	border-radius: 5px;
	order: 2;
}

.form-heading {
	font-family: "CompuSoft Title";
	order: 1;
}

.form-heading span {
	font-family: "CompuSoft Font";
	font-size: 2.5rem;
}
.form-login .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-login .form-control:focus {
	z-index: 2;
}

#loginbtn {
	margin-top: 10px;
	font-size: 15px !important;
	line-height: 1.5 !important;
}

.invalid {
	margin-top: 10px;
}