html, body{
	height: 100%;
}

body {
	background-color: black;
	background-image: url("../images/loginbackground.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.footer {
	background: transparent;
	border: 0px;
}

.form-login {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 330px;
	padding: 40px;
	margin: 0 auto;
	background-color: rgba(190,190,190,0.3);
	border-radius: 5px;
}

.form-login .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
.form-login .form-control:focus {
	z-index: 2;
}

#loginbtn {
	margin-top: 10px;
	font-size: 15px !important;
	line-height: 1.5 !important;
	letter-spacing: 4px;
}