body {
	height: 100%;
	margin-bottom: 50px;
	background-image: url("../images/nominate-bg.jpg");
	overflow-y: hidden;
}

/* Navbar */
#categories-navbar {
	padding: 20px;
	overflow: hidden;
	background-color: #f1f1f1
}

.aux {
	overflow: auto;
}

.affix {
	top: 85px;
	width: 15%;
}

.nav-categories {
	overflow-y: hidden !important;
	max-height: 100% !important;
	bottom: 70px;
}

.categories-navbar-item a {
	color: #AAAAAA;
}

.nav-pills>li>a:hover{
	color: white;
}

.nav-pills>li>a, .nav-pills>li>a:focus, .nav-pills>li>a:hover{
	background-color: transparent;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	border-bottom: 2px solid #DCDCDC;
	background-color: transparent;
}

/* Content */
.categories {
	padding: 0px;
}

.category-container > div {
	margin: 20px;
	border-radius: 8px;
	height: 800px;
	display: flex;
	flex-direction: column;
	position: relative;
	justify-content: center;
	align-items: center;
}

.main-container {
	max-width: 80%;
}

@media screen and (max-width: 700px) {

	.category-container > div {
		margin: 0px;
		margin-bottom: 10px;
		margin-top: 10px;
		border-radius: 8px;
		height: 800px;
		display: flex;
		position: relative;
		align-items: center;
	}
	
	.main-container {
		min-width: 100% !important;
	}
	
}

@media screen and (min-width: 1400px) {
	
	.category-container > div {
		margin: 0px;
		margin-bottom: 10px;
		margin-top: 10px;
		border-radius: 8px;
		display: flex;
		position: relative;
		align-items: center;
	}

	.my-nominations-btn {
		margin-top: 1rem !important;
		margin-bottom: 1rem !important;
	}

	.main-container {
		width: 70% !important;
	}

}

.tape-img, .chichon-img {
	height: auto;
	position: absolute;
}

.tape-img {
	max-width: 15rem;
	right: -4rem;
	top: -4rem;
}

.chichon-img {
	max-width: 10rem;
	left: -2rem;
	top: -2rem;
}

.cat-item {
	padding:10px;
}

.category-image {
	width: 70%;
	max-width: 300px;
	height: auto;
	object-fit:cover;
	border-radius: 100%;
}

.category-title {
	font-size: 2.5em;
}

.category-description {
	font-size: 1.5em;
}

/* Nomination boxes */
.box-nominate {
	padding: 40px;
	background-color: rgba(190,190,190,0.3);
	border-radius: 5px;
	margin: auto;
	margin-bottom: 7px;
	font-size: 16px;
}

/* form */
.form-nominate {
	padding: 40px;
	background-color: rgba(190,190,190,0.3);
	border-radius: 5px;
	margin: 0 5rem;
}

.text-input-1, .text-input-2, .text-input-4 {
	margin-bottom: 3px;
}

/* Confirmation modal */
.nominate-modal-btn1, .nominate-modal-btn2 {
	width: 100%;
}

.make_nomination-modal-btn1, .make_nomination-modal-btn2 {
	width: 100%;
}

.modal-header-nom {
	padding:9px 15px;
	border-bottom:1px solid #eee;
	background-color: #2980b9;;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	 border-top-left-radius: 5px;
	 border-top-right-radius: 5px;

}

@media screen and (max-width: 1000px) {

   .form-nominate, .box-nominate {
    	width: 80%;
	}

	.form-nominate {
		margin: 0 auto;
	}
}


@media screen and (max-width: 700px) {

	#categories-navbar {
		display: none;
	}

	.categories {
		width: 100%;
	}
}

@media screen and (max-width: 500px) {

	.category-title, .category-nominations {
		font-size: 1.5em;
	}

	.alreadynom-btn-1 {
		font-size: 7px;
	}
	.alreadynom-btn-2 {
		font-size: 7px;
	}
}

@media screen and (max-width: 400px) {

    .category-image {
		width: 200px;
		height: 200px;
    }
}

@media screen and (max-width: 300px) {

	.category-title, .category-nominations {
		font-size: 1.5em;
	}
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(180,180,180,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(180,180,180,0.4);
}

/* Custom category boxes */
#CompuCono {
	background-color: #001F3F;
	color: #bdc3c7;
}

#CompuPapi {
	background-color: #f1c40f;
}

#CompuMami {
	background-color: #0496ff;
}

#CompuGordito {
	background-color: #ffbc42;
}

#CompuAdoptado {
	background-color: #fc2557;
}

#CompuMaster {
	background-color: #2ECC40;
}

#CompuTeam {
	background-color: #f1c40f;
}

#CompuPro {
	background-color: #001f3f;
	color: #bdc3c7;
}

#CompuFitness {
	background-color: #85144B;
	color: #bdc3c7;
}

#CompuLove {
	background-color: #FF4136;
}


#CompuTukky {
	background-color: #ad1489;
}

#CompuLolas {
	background-color: #72d54a;
}

#CompuChévere {
	background-color: #2980b9;
}

#CompuCartoon {
	background-color: #f1c40f;
}

#CompuProductista {
	background-color: #FF851B;
}

#CompuButt {
	background-color: #ffbc42;
}

#CompuBully {
	background-color: #ad1489;
}

.CompuCono {
	background-color: #001F3F;
	color: #bdc3c7;
}

.CompuPapi {
	background-color: #f1c40f;
}

.CompuMami {
	background-color: #0496ff;
}

.CompuGordito {
	background-color: #ffbc42;
}

.CompuAdoptado {
	background-color: #fc2557;
}

.CompuMaster {
	background-color: #2ECC40;
}

.CompuTeam {
	background-color: #f1c40f;
}

.CompuPro {
	background-color: #001f3f;
	color: #bdc3c7;
}

.CompuFitness {
	background-color: #85144B;
	color: #bdc3c7;
}

.CompuLove {
	background-color: #FF4136;
}


.CompuTukky {
	background-color: #ad1489;
}

.CompuLolas {
	background-color: #72d54a;
}

.CompuChévere {
	background-color: #2980b9;
}

.CompuCartoon {
	background-color: #f1c40f;
}

.CompuProductista {
	background-color: #FF851B;
}

.CompuButt {
	background-color: #ffbc42;
}

.CompuBully {
	background-color: #ad1489;
}

/*verde #72d54a
Azul #0496ff
Amarillo #ffbc42
rosado #fc2557
morado #ad1489
fucsia #FF4136
azul marino #001F3F
vino tinto #85144B
verde chillom #2ECC40
amarillo mostaza #FF851B
amarillo pollito #f1c40f