boto3==1.7.45
botocore==1.10.45
Django==1.10
django-storages==1.6.6
docutils==0.14
jmespath==0.9.3
ldap3==2.3
olefile==0.44
Pillow==4.3.0
psycopg2==2.7.3.1
pyasn1==0.3.7
python-dateutil==2.7.3
s3transfer==0.1.13
six==1.11.0
