{% extends 'voting/base.html' %}

{% block css %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'voting/css/index.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'voting/css/base.css' %}"/>
{% endblock css %}

{% block body %}
	

	<div class="container">

		{% if not enable_voting %}

		 	<div class="main-content">
				<div class="row">
					<div class="col-xs-8 presentation">
						<h3 class="title"><strong>
							<span class="title-head">¿Estás listo</span>
							<span class="title-body"> para comenzar este mágico viaje?</span>
						</strong></h3>
						<div class="title-text">
							<p>Bienvenido al CompuShow 2017, un lugar donde encontrarás magos, pociones, hechizos y demás. Así que prepárate y escoge a los mejores magos de la carrera.</p>
						</div>
						<div class="period-info">
							<p> El período de nominación esta abierto durante semana 8, entre el 6 y 10 de noviembre. Escoge a tus candidatos, te esperamos.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="text-center">
						<form action="{% url 'voting:nominate' %}">
							<input type="submit" id="goto-nomination-btn" class="btn btn-success" value="Nominar">
						</form>
					</div>
				</div>

			</div>
		{% endif %}

		{% if enable_voting %}

			<p>que dice manaure probando</p>

		{% endif %}


	</div>

{% endblock body %}