{% extends 'voting/base.html' %}

{% block body %}
	<h1>NOMINATE</h1>
	<div id="contact_form">
		<form name="contact" action="">
			  <fieldset>
    			<label for="name" id="name_label">Name</label>
    			<input type="text" name="name" id="name" size="30" value="" class="text-input" />
     
				<label for="email" id="email_label">Return Email</label>
				<input type="text" name="email" id="email" size="30" value="" class="text-input" />
				 
    			<label for="phone" id="phone_label">Return Phone</label>
    			<input type="text" name="phone" id="phone" size="30" value="" class="text-input" />
     
      			<br />
    			<input type="submit" name="submit" class="button" id="submit_btn" value="Send" />
			</fieldset>
		</form>
	</div>


{% endblock body %}

{% block javascript %}
	{% load static %}
	<script src="{% static 'voting/js/nominate.js' %}"></script>
{% endblock javascript %}