{% extends 'voting/base.html' %}

{% block css %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'voting/css/nominate.css' %}"/>
{% endblock css %}

{% block bodydiv %}
	<body data-spy="scroll" data-target="#categories-navbar" data-offset="20">
{% endblock bodydiv %}

{% block body %}
	
	<div class="row">
		<nav class="col-sm-3" id="categories-navbar">
			<ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="50">
				<h1>Categories</h1>
				{% for category in categories %}
					<li><a href="#{{ category.name }}">{{ category.name }}</a></li>

				{% endfor %}
      		</ul>
    	</nav>
    
		<div class="col-sm-9">
			{% for category in categories %}
				<div id="{{ category.name }}"> 
					<h1>{{ category.name }}</h1>
					<p>{{ category.description }}</p>
				</div>
			{% endfor %}
		</div>

	</div>


























	<!--<h1>NOMINATE</h1>
	<div id="contact_form">
		<form name="contact" action="">
			  <fieldset>
    			<label for="name" id="name_label">Name</label>
    			<input type="text" name="name" id="name" size="30" value="" class="text-input" />
     
				<label for="email" id="email_label">Return Email</label>
				<input type="text" name="email" id="email" size="30" value="" class="text-input" />
				 
    			<label for="phone" id="phone_label">Return Phone</label>
    			<input type="text" name="phone" id="phone" size="30" value="" class="text-input" />
     
      			<br />
    			<input type="submit" name="submit" class="button" id="submit_btn" value="Send" />
			</fieldset>
		</form>
	</div>-->


{% endblock body %}

{% block javascript %}
	{% load static %}
	<script src="{% static 'voting/js/nominate.js' %}"></script>
{% endblock javascript %}