{% extends 'voting/base.html' %}

{% block css %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'voting/css/nominate.css' %}"/>
{% endblock css %}

{% block bodydiv %}
	<body data-spy="scroll" data-target="#categories-navbar" data-offset="20">
{% endblock bodydiv %}

{% block body %}
	
	<div class="row">
		<nav class="col-sm-3" id="categories-navbar">
			<h3>Categories</h3>
			<ul class="nav nav-pills nav-stacked nav-categories" data-spy="affix" data-offset-top="50">
				{% for category in categories %}
					<li class="categories-navbar-item" style="font-size:15px;"><a href="#{{ category.name }}">{{ category.name | upper }}</a></li>

				{% endfor %}
      		</ul>

    	</nav>
		<div class="col-sm-9">
			{% for category in categories %}
				<div id="{{ category.name }}" class="container category-container">
				{% if category.inv %}
					<div class="col-sm-3">
						<img class="category-image" src="/static/voting/images/categoryImages/{{ category.image }}"/>
					</div>
					<div class="col-sm-6 category-info">
						<h1>{{ category.name }}</h3>
						<div class="category-description">{{ category.description }}</div>

						<div id="{{ category.name }}-form">
							<form name="{{ category.name }}-form" class="form-nominate" action="">
								<div class="form-group">
    								<input type="text" name="{{ category.name }}-name" id="{{ category.name }}-name" size="30" placeholder="Student ID" class="text-input form-control" />
    								<textarea name="{{ category.name }}-comment" id="{{ category.name }}-comment" placeholder="Comment" class="text-input form-control"></textarea>
								</div>
								<button type="submit" name="submit" id="{{ category.name }}-submitbtn" class="btn btn-default">Nominate</button>
							</form>
						</div>

					</div>
				{% else %}
					<div class="col-sm-6 category-info">
						<h1>{{ category.name }}</h3>
						<div class="category-description">{{ category.description }}</div>

						<div id="{{ category.name }}-form">
							<form name="{{ category.name }}-form" class="form-nominate" action="">
								<div class="form-group">
    								<input type="text" name="{{ category.name }}-name" id="{{ category.name }}-name" size="30" placeholder="Student ID" class="text-input form-control" />
    								<textarea name="{{ category.name }}-comment" id="{{ category.name }}-comment" placeholder="Comment" class="text-input form-control"></textarea>
								</div>
								<button type="submit" name="submit" id="{{ category.name }}-submitbtn" class="btn btn-default">Nominate</button>
							</form>
						</div>

					</div>
					<div class="col-sm-3">
						<img class="category-image" src="/static/voting/images/categoryImages/{{ category.image }}"/>
					</div>
				{% endif %}
				</div>
			{% endfor %}
		</div>

	</div>

{% endblock body %}

{% block javascript %}
	{% load static %}
	<script src="{% static 'voting/js/nominate.js' %}"></script>
{% endblock javascript %}