{% extends 'voting/base.html' %}

{% block css %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'voting/css/login.css' %}"/>
{% endblock css %}

{% block navbar %}{% endblock navbar %}

{% block body %}


	<div class="container">

		<form class="form-login" style="padding:30px;">
		
			{% if invalid %}
				<div class="alert alert-danger alert-dismissable fade in invalid text-center" style="padding:10px;">
					<strong>Error:</strong> Link de activación inválido.
				</div>

			{% else %}
				<div class="alert alert-success alert-dismissable fade in invalid text-center" style="padding:10px;">
					<p>Gracias por confirmar el correo electrónico.</p>
					<strong><p>¡Ya puedes acceder a tu cuenta!</p></strong>
				</div>
			{% endif %}

		</form>

	</div>


{% endblock body %}