{% extends 'voting/base.html' %}

{% block css %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'voting/css/vote.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'voting/css/floateffect.css' %}"/>
{% endblock css %}

{% block body %}

	<div class="row">

		<nav class="col-xs-2" id="categories-navbar">
			<ul class="nav nav-pills nav-stacked nav-categories">
				<li><h2 class="nav-bar-title">CATEGORÍAS</h2></li>
				{% for category1 in categories %}
					<li class="categories-navbar-item" style="font-size:15px;">
						<a class="{% if category.pk == category1.pk %}active{% endif %}" href="{% url 'voting:vote' %}?category={{ category1.name }}">
							{{ category1.name }}
						</a>
					</li>
				{% endfor %}
			</ul>
	    </nav>

		<div class="col-xs-10 categories">
				<nav id="collapsed-navbar2" class="col-xs-12 navbar navbar-default navbar-static-top">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2" aria-expanded="false" aria-controls="navbar2">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand navbar-brand2" data-toggle="collapse" data-target="#navbar2">CATEGORÍAS</a>
						</div>
						<div id="navbar2" class="navbar-collapse collapse">
							<ul id="navbar-collapsed2" class="nav nav-pills2">
								{% for category in categories %}
									<li class="collapsed-navbar2-element categories-navbar-item" style="font-size:15px;"><a href="{% url 'voting:vote' %}?category={{ category.name }}">{{ category.name }}</a></li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</nav>
				<div id="{{ category.name }}" class="col-xs-12 {% if order == 1 %}col-md-push-6{% endif %} col-sm-6 category-container text-center">
					<img class="category-image cat-item" src="/static/voting/images/categoryImages/{{ category.image }}"/>
					<div class="category-title cat-item">{{ category.name }}</div>
					<div class="category-description cat-item">{{ category.description }}</div>
	
	
					<div class="row">
						<div class="col-xs-12 col-md-6">
							<div class="row">
								{% for nominee in nominees_lower %}
									<div class="col-xs-12">
										<div class="nomination-box hvr-float-shadow">
											<a href="#" class="fill-div custom-a">
	
												<input type=hidden class="nominee-id" value={{ nominee.id }}>
												<div id="{{nominee.id}}" class="img-vote-container">
													<img class="nominee-image slide" src="{% static 'voting' %}/images/NominationImages/{{ category.name }}/{{ nominee.id }}.jpg"/>
													<img src="{% static 'voting/images/tape-green-vector.png' %}"
													alt="" class="{% if nominee.vote %}active {% endif %}img-responsive postit">
												</div>
	
												{% if nominee.name %}
													<div class="nominee-name slide">{{ nominee.name }}</div>
												{% endif %}
	
												{% if nominee.carnet %}
													<div class="nominee-carnet slide hidden">{{ nominee.carnet }}</div>
												{% endif %}
	
												{% if nominee.nameOpt %}
													<div class="nominee-auxtext slide">y</div>
													<div class="nominee-nameOpt slide">{{ nominee.nameOpt }}</div>
													<div class="nominee-carnetOpt slide hidden">{{ nominee.carnetOpt }}</div>
												{% endif %}
	
												{% if nominee.extra %}
													<div class="nominee-extra slide">{{ nominee.extra }}</div>
												{% endif %}
	
												{% if nominee.cartoon %}
													<div class="nominee-auxtext slide">Caricatura:</div>
													<div class="nominee-cartoon slide">{{ nominee.cartoon }}</div>
												{% endif %}
	
											</a>
	
										</div>
									</div>
								{% endfor %}
	
							</div>
						</div>
						<div class="col-xs-12 col-md-6">
							<div class="row">
								{% for nominee in nominees_upper %}
									<div class="col-xs-12">
										<div class="nomination-box hvr-float-shadow">
											<a href="#" class="fill-div custom-a">
	
												<input type=hidden class="nominee-id" value={{ nominee.id }}>
												<div id="{{nominee.id}}" class="img-vote-container">
													<img class="nominee-image slide" src="{% static 'voting' %}/images/NominationImages/{{ category.name }}/{{ nominee.id }}.jpg"/>
													<img src="{% static 'voting/images/tape-green-vector.png' %}"
													alt="" class="{% if nominee.vote %}active {% endif %}img-responsive postit">
												</div>
		
	
												{% if nominee.name %}
													<div class="nominee-name slide">{{ nominee.name }}</div>
												{% endif %}
	
												{% if nominee.carnet %}
													<div class="nominee-carnet slide hidden">{{ nominee.carnet }}</div>
												{% endif %}
	
												{% if nominee.nameOpt %}
													<div class="nominee-auxtext slide">y</div>
													<div class="nominee-nameOpt slide">{{ nominee.nameOpt }}</div>
													<div class="nominee-carnetOpt slide hidden">{{ nominee.carnetOpt }}</div>
												{% endif %}
	
												{% if nominee.extra %}
													<div class="nominee-extra slide">{{ nominee.extra }}</div>
												{% endif %}
	
												{% if nominee.cartoon %}
													<div class="nominee-auxtext slide">Caricatura:</div>
													<div class="nominee-cartoon slide">{{ nominee.cartoon }}</div>
												{% endif %}
	
											</a>
	
										</div>
									</div>
								{% endfor %}
	
							</div>
						</div>
		
					</div>
	
				</div>
				<div id="note-box" class="hidden-xs col-md-6 {% if order == 1 %}col-md-pull-6{% endif %}">
					<div id="draggable-container" class="row">
						{% for comment in all_comments %}
						<div class="note col-xs-6 {{comment.rotated}}">
							<img class="img-responsive" src="{% static 'voting/images/postit-vector.png' %}" alt="">
							<div class="comment">
								<p class="">{{comment.comment}}</p>
								<i><small>{{comment.name|default:comment.extra}} {% if comment.nameOpt %}y {{comment.nameOpt}}{% endif %}</small></i>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
		</div>
	</div>

	<!-- Vote Modal (pop up window) -->
	<div id="voteModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div id="modal-header-vote" class="modal-header modal-header-nom">
					<p class='h2 text-center' style='color:white;'>Nominado</p>
				</div>
				<div id="modal-body-vote" class="modal-body text-center">

					<div id="modal-body-vote-info">
						<!-- fill in JQuery -->
					</div>

					<div id="carousel_{{ nominee.id }}_comments_modal" class="carousel slide" data-ride="carousel">
						<!-- Wrapper for slides -->
						<div id="carousel-inner-modal" class="carousel-inner">
							<!-- fill in JQuery -->
						</div>

						<!-- Left and right controls -->
						<a class="left carousel-control" href="#carousel_{{ nominee.id }}_comments_modal" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left icon-left carousel-modal-arrow" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#carousel_{{ nominee.id }}_comments_modal" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right icon-right carousel-modal-arrow" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>

				</div>
				<div id="modal-vote-footer" class="modal-footer">
					<div class="row">
						<div class="col-xs-6">
							{% csrf_token %}
							<button type="submit" class="btn btn-success vote-modal-btn1 vote-btn" data-dismiss="modal">Votar</button>
						</div>
						<div class="col-xs-6">
							<button type="button" class="btn btn-danger vote-modal-btn2 btn-close" data-dismiss="modal">Regresar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Successful Voting Modal (pop up window) -->
	<div id="successfulVotingModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body text-center">
					<p class="h1">¡Votación <span class='text-success'>exitosa</span>!</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success btn-block btn-close" data-dismiss="modal">Continuar</button>
				</div>
			</div>
		</div>
	</div>

	<input type=hidden id="voted" value={{ voted }}>

{% endblock body %}

{% block javascript %}
	{% load static %}
	<script src="{% static 'voting/js/draggable.js' %}"></script>
	<script src="{% static 'voting/js/vote.js' %}"></script>
{% endblock javascript %}