{% extends 'voting/base.html' %}

{% block css %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'voting/css/vote.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'voting/css/slideineffect.css' %}"/>
{% endblock css %}

{% block bodydiv %}
	<body data-spy="scroll" data-target="#categories-navbar" data-offset="200">
{% endblock bodydiv %}

{% block body %}

	<div class="row">
		
		<nav class="col-xs-2" id="categories-navbar">
			<div class="aux">	
				<ul class="nav nav-pills nav-stacked nav-categories" data-spy="affix">
					<li><h2 class="nav-bar-title">CATEGORÍAS</h2></li>
					{% for category in categories %}
						<li class="categories-navbar-item" style="font-size:15px;"><a href="{% url 'voting:vote' %}?category={{ category.name }}">{{ category.name }}</a></li>
					{% endfor %}
      			</ul>
      		</div>
	    </nav>

		<div class="col-xs-10 categories">

			<div id="{{ category.name }}" class="container-fluid category-container text-center">
				
				<!--<img class="category-image cat-item slideanim" src="/static/voting/images/categoryImages/{{ category.image }}"/>
				<div class="category-title cat-item slideanim">{{ category.name }}</div>
				<div class="category-description cat-item slideanim">{{ category.description }}</div>
				
				<div id="{{ category.name }}-form" class="cat-item form-nominate slideanim">
					<form name="{{ category.name }}-form" class="nominate-form" action="/">
						{% csrf_token %}
						<div class="form-group">
    						<input list="student-id-{{ category.name }}" type="text" name="student-id" id="{{ category.name }}-name" class="text-input-1 form-control"required 
    						{% if category.name == 'CompuMaster' %}placeholder="Nombre del profesor"
    						{% elif  category.name == 'CompuLove' %}placeholder="Nombre del 1er estudiante"
    						{% elif  category.name == 'CompuAdoptado' %}placeholder="Nombre del estudiante"
							{% elif  category.name == 'CompuTeam' %}placeholder="Nombre del equipo"
							{% else %}placeholder="Nombre del estudiante"
							{% endif %}
							/>

							{% if category.name != "CompuMaster" and category.name != "CompuTeam" and category.name != "CompuAdoptado"%}
								<datalist id="student-id-{{ category.name }}">
									{% for student in students %}
										<option value="{{ student.person__name }} {{ student.person__surname }}">{{ student.person__name }} {{ student.person__surname }}</option>
									{% endfor %}
								</datalist>
							{% endif %}

							{% if category.name == 'CompuLove' %}
    							<input list="student-id-2-{{ category.name }}" type="text" name="{{ category.name }}-name-2" id="{{ category.name }}-name-2" class="text-input-2 form-control" required placeholder="Nombre del 2do estudiante"/>
    						
    							<datalist id="student-id-2-{{ category.name }}">
									{% for student in students %}
										<option value="{{ student.person__name }} {{ student.person__surname }}">{{ student.person__name }} {{ student.person__surname }}</option>
									{% endfor %}
								</datalist>
    						{% endif %}
							
							{% if category.name == 'CompuCartoon' %}
    							<input type="text" name="{{ category.name }}-cartoon" id="{{ category.name }}-cartoon" class="text-input-4 form-control" required placeholder="Nombre de la caricatura"/>
    						{% endif %}

							<textarea name="{{ category.name }}-comment" id="{{ category.name }}-comment" placeholder="Comentario (opcional)" class="text-input-3 form-control"></textarea>
						</div>
					</form>
					<button id="{{ category.name }}-submitbtn" class="btn btn-success btn-block btn-nominate" value={{ category.name }}>Nominar</button>
				</div>-->

			</div>
		</div>
	</div>

{% endblock body %}

{% block javascript %}
	{% load static %}
	<script src="{% static 'voting/js/nominate.js' %}"></script>
	<script src="{% static 'voting/js/slideineffect.js' %}"></script>
{% endblock javascript %}